*{
    margin: 0;
    padding: 0;
    background-color: rgb(229, 180, 2);
}
h3{
    color: #3698d8fd;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
.font{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #3698d8fd;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}