body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.name {
  margin: 10px 0 5px;
}

.role {
  color: gray;
  margin: 0 0 20px;
}

.details, .skills {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-left: 20px;
}

.details li, .skills li {
  margin: 5px 0;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #444;
}
